/*MEDIA SIZE*/

@media (max-width: 600px) { /*Para monitores small*/
	.valign-wrapper {height: auto!important;}
	.no-bottom-margin-mobile {margin-bottom: 0px!important}
  nav a {padding-right: 0px;padding-left: 0px;margin: 0;}
	.button-collapse {margin: 2px 0!important;}
	.job-row .col {height: 50vw;}
	.phone-col {text-align: left;}
	.phone-line {right: inherit;left: 10px;}
	.show-on-med-only {display: none!important;}
	.cards {height: 60%!important;}
	#services h3 {font-size: 25px;}
	.services-box p {font-size: 16px;}
	.progress-row {padding-top: 0px; }
	.progress-row .col {margin-top: 42px; }
	.progress-text {margin-top: 0px;}
	.progress-title {margin-bottom: 0px;}
	#services {display: inherit;padding-top:0px;height: auto!important}
	nav ul a:hover {line-height: 48px!important;}
	.mobile-container {padding: 0 38px!important;}
	nav {height: 69px;}
	nav .button-collapse {margin: -6px!important;}
	.services-box {background-color: #d2a7cb;}
	.happy-img {margin-left: -9px;}
	#home h2 {font-size: 39px;}
}

@media (min-width: 601px) and (max-width: 992px) { /*Para monitores medium*/
	.phone-col {text-align: left;}
	.phone-line {right: inherit;left: 10px;}
	.show-on-med-only {display: block!important;}
	.cards {height: 50%!important;}
	.timeline-1 {top: 171.5px;width: 57%;right: -19%;}
	#services {display: inherit;padding-top:0px;padding-bottom: 30px;}
	nav {height: 69px;}
	nav .button-collapse {margin: -6px!important;line-height: 82px!important;}
	.brand-logo {top: -8px!important;}
	.services-box {background-color: #d2a7cb;margin-bottom: 30px;}
	#services h3 {margin: auto;max-width: 80%;}
	.services-box p {margin: auto;margin-top: 10px;max-width: 80%;}
	.services-line {margin-left: 10%;margin-top: 3px;}
	#services {height: auto!important;}
}
@media (min-width: 993px) and (max-width: 1200px){ /*Para monitores large*/
	.show-on-med-only {display: none!important;}
}
@media (min-width: 1200px) { /*Para monitores extra large*/
	.show-on-med-only {display: none!important;}
}


/* portrait */
@media screen and (max-width: 600px) and (orientation:portrait) { /*para celulares vertical*/
}
/* landscape */
@media screen and (max-width: 600px) and (orientation:landscape) {  /*para celulares horizontal*/
}

@media screen and (max-width: 991px) and (orientation:landscape){
}

@media (min-width: 1200px){
  
}
@media (min-width: 350px) and (max-width: 767px) { /*Para iphone 6*/

}
@media (max-width: 350px) { /*Para iphone 5*/
}